/* Allgemeine Einstellungen */
body {
    background-image: url(../Bilder/Background/Untitled_Artwork.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Audiowide', cursive;
}

/* Navigation */
.menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

#menu {
    color: white;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 1s ease;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    text-shadow: 4px 6px 10px rgba(255, 255, 255, 0.76);
    display: none;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu ul li {
    margin: 20px 0;
}

#menu a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

#menu a:hover {
    text-decoration: underline;
}

/* Burgerbutton */
#burgerbutton {
    position: fixed;
    z-index: 101;
    top: 20px;
    right: 20px;
    transition: transform 1s ease;
}

#burgerbutton img {
    transform: scaleX(-1);
    width: 50px;
    height: auto;
}

#burgerbutton:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* Bildersammlung */
.bilderuns img {
    width: 100%;
    height: auto;
}

.bilderuns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    gap: 0;
}

.bilderuns>div {
    position: relative;
    text-align: center;
    width: 32%;
    margin: 0;
    padding: 0;
}

.bilderuns .bildnormal {
    display: block;
    width: 100%;
    height: auto;
}

.bilderuns .bildhover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.bilderuns>div:hover .bildhover {
    opacity: 1;
}

/* Textelemente */
p {
    font-size: 2vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    text-align: center;
}

p.kamera {
    color: white;
}

p.ton {
    color: white;
}

p.schnitt {
    color: white;
}

h1 {
    font-size: 12vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    color: white;
    padding-right: 2vw;
    padding-left: 2vw;
    font-style: italic;
    text-transform: uppercase;
}

h2 {
    font-size: 5vw;
    color: white;
    line-height: 4vw;
    margin-bottom: 0vw;
    margin-top: 0.5vw;
    text-transform: uppercase;
}

.namestitel {
    color: white;
}

.action {
    display: flex;
}

.drei {
    color: white;
}

.zwei {
    color: white;
}

.eins {
    color: white;
}

.am {
    color: white;
}

/* Titelanimation */
.titel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 5vw;
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1s forwards;
}

.titel h2 {
    text-align: center;
    animation: fly-in 1s ease forwards;
    transform: perspective(100px) rotateY(20deg);
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action h1 {
    display: inline-block;
    animation: fly-in 0.5s ease forwards;
    opacity: 0;
}

.action h1:nth-child(1) {
    animation-delay: 1s;
}

.action h1:nth-child(2) {
    animation-delay: 1.3s;
}

.action h1:nth-child(3) {
    animation-delay: 1.6s;
}

.action h1:nth-child(4) {
    animation-delay: 1.9s;
}

@keyframes fly-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fly-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    70% {
        transform: translateX(-20%);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    #burgerbutton {
        top: 10px;
        right: 10px;
    }

    #menu {
        font-size: 1.5em;
    }

    #menu ul li {
        margin: 15px 0;
    }

    #menu a {
        font-size: 1.5em;
    }

    .bilderuns {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .bilderuns>div {
        width: 80%;
        margin: 0;
        padding: 0;
    }

    p {
        font-size: 4vw;
    }
}
